# ================================
# 🔑 TOKENS & SESSIONS
# ================================
BOT_TOKEN="Your_bot_token"                                # توکن ربات دریافت شده از @BotFather
CLIENT_SESSION_NAME="Your_session_name"                   # فایل ذخیره سشن(نشست) روبیکا

# ================================
# 🆔 GUIDs (روبیکا)
# ================================
CLIENT_CHAT_GUID="Chat_guid_between_bot_and_client"       # guid چته بات و کلایت(تبچی)
ADMIN_CHAT_GUID="Chat_guid_between_bot_and_admin"         # guid چته بات و ادمین
CHANNEL_GUID="Channel_guid_in_client"                     # guid چنل مورد نظر
BOT_GUID="Your_bot_guid"                                  # guid بات
MY_USER_GUID="Your_client_guid"                           # guid کلاینت(تبجی)

# ================================
# 🗄️ DATABASE
# ================================
DB_PATH="./data/your_DB_name.db"                          # اسم دیتابیس

# ================================
# 🔐 SCRAPER CREDENTIALS
# ================================
SCRAPER_USERNAME="username"                               # نام کاربری ربای ورود به سایت
SCRAPER_PASSWORD="password"                               # رمز عبور برای ورود به سایت

# ================================
# 🌐 SCRAPER SETTINGS
# ================================
PLAYWRIGHT_HEADLESS=false                                 # آیا مرورگر داخب در پشت صحنه باز بشه؟
PLAYWRIGHT_CHANNEL="chromium"                               # میتونه هر مرورگری باشه
SCRAPER_AUTH_PATH="./auth/scraper_auth.json"              # آدرس ذخیره شدن سشن(نشست) سایت
SCRAPER_BASE_URL="https://scraper.com"                    # آدرس سایت

# ================================
# ⚙️ AUTOMATION SETTINGS
# ================================
AUTO_CYCLE_HOURS=15.0                                      # فاصله زمانی بین هر چرخه (به ساعت)
SKIP_RECENT_UPDATE_HOURS=10.0                             # نادیده گرفتن فیلم‌های آپدیت‌شده در X ساعت گذشته
DELAY_BETWEEN_MOVIES=3.0                                   # فاصله اپدیت بین هر فیلم (به ثانیه)
DELAY_BETWEEN_STAGES=5.0                                  # فاصله بین هر مرحله (به ثانیه)

# ================================
# 📊 LOGGING
# ================================
LOG_LEVEL=INFO                                             # لول لاگ ها
LOG_FILE_PATH=./logs/log.log        